{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <script src="{% static 'js/scripts.js'%}"></script>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Digital Portfolio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="{% url 'home' %}">Elon Musk</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      {% for navbar in navbar %}
                      {% if navbar.is_active %}
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href= "{{navbar.get_absolute_url}}" >{{navbar.title}} </a>
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link " aria-current="page" href= "{{navbar.get_absolute_url}}" >{{navbar.title}} </a>
                        {% endif %}
                      {% endfor %}</li>
                      
                    </ul>
                </div>
            </div>
        </nav>  </body>
        {% block content %}
       
        {% endblock content %}
      

        <!-- Footer-->
        <footer class="py-4 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
      
   
</html>