{% extends "base.html" %}
{% load static %}
<div>
    {% block content %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet" />
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section bg color blue">Contact Us</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="wrapper">
                            <div class="row no-gutters">
                                <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                                    <div class="contact-wrap w-100 p-md-5 p-4">
                                        <h3 class="mb-4">Get in touch</h3>
                                        <div id="form-message-warning" class="mb-4"></div> 
                                  <div id="form-message-success" class="mb-4">
                                Your message was sent, thank you!
                                  </div>
                                        <form action= "" method="POST" id="contactForm" name="contactForm" class="contactForm" novalidate="novalidate">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="label" for="name">Full Name</label>
                                                        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                                    </div>
                                                    <div> {{form.name.errors}} </div>
                                                </div>
                                                <div class="col-md-6"> 
                                                    <div class="form-group">
                                                        <label class="label" for="email">Email Address</label>
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                                    </div>
                                                    <div> {{form.email.errors}} </div>
                                                </div>
                                                <div class="col-md-12"> 
                                                    <div class="form-group">
                                                        <label class="label" for="phone">Phone Number</label>
                                                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Phone Number" minlength= "10"maxlength = "10" required>
                                                    </div>
                                                    <div> {{form.phone.errors}} </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="subject">Subject</label>
                                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                                    </div>
                                                    <div> {{form.subject.errors}} </div>
                                            
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="label" for="message">Message</label>
                                                        <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                                    </div>
                                                    <div> {{form.message.errors}} </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Send Message" class="btn btn-primary">
                                                        <div class="submitting"></div>
                                                       <div>
                                                      <b>{{message}}</b>  
                                                       </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                                    <div class="info-wrap bg-primary w-100 p-md-5 p-4">
                                        <h3>Let's get in touch</h3>
                                        <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    {% for contact in contact  %}
                                    <div class="text pl-3">
                                    <p><span>Address:</span> {{contact.address}}</p>
                                  </div>
                              </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text pl-3">
                                    <p><span>Phone:</span> <a href="tel://{{contact.phone}}">{{contact.phone}}</a></p>
                                  </div>
                              </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text pl-3">
                                    <p><span>Email:</span> <a href="mailto:{{contact.email}}">{{contact.email}}</a></p>
                                  </div>
                              </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text pl-3">
                                    <p><span>Website</span> <a href="{{contact.site}}">{{contact.site}}</a></p>
                                  </div>
                              </div>
                          </div>{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script> {% endcomment %}
      <script src="{% static 'js/popper.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery.validate.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
    
        
    
    
    </body>
        
    {% endblock content %}
</div>