{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
  <!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    {% for x in profile  %}
    <div class="col-lg-5"><img src="{{x.profile_pic.url}}" width="300" height="400" alt="..." /></div>
    <div class="col-lg-7 ">
      <h1 class="font-weight-light ">{{x.profile_name}}</h1>
      <p>{{x.profile_description}} </p>
    </div>
  </div>
  <!-- Call to Action-->
  <div class=" text-white  my-5 py-2 text-center">
    <div class="card-body">
      <p class="text-black">"{{x.profile_quotes}}"</p>
    </div>
  </div>
  {% endfor %}
  <div class=" text-black  my-5 py-2 text-center">
  </div>
  <div class="container">

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0"> Gallery</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
 
     {% for x in gallery %}
  
      <div class="col-lg-3 col-md-4 col-6">
        <a href="{{x.photo.url}}" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{x.photo.url}}" alt="{{x.title}}">
        </a>
      </div>
      {% endfor %}
  </div>
</div>
  <!-- Content Row-->
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title text-center">Resume</h2>
          <div class=" align-items-center"><img src="{% static 'image\resume.png' %} " width="200" height="200"
              alt="..." /></div>
          <p class="card-text text-center">It contains my skills and qualifications and more information about me.</p>
        </div>
        <div class="card-footer align-self-center"><a class="btn btn-primary btn-sm " href="/resume">More Info</a></div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Projects</h2>
          <div class=" align-items-center"><img src="{% static 'image\projects.png' %} " width="200" height="200"
              alt="..." /></div>
          <p class="card-text">It contains information about my projects that i have worked on.</p>
        </div>
        <div class="card-footer align-self-center"><a class="btn btn-primary btn-sm" href="/projects">More Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">Contact</h2>
          <div class=" align-items-center"><img src="{% static 'image\contact.png' %} " width="200" height="200"
              alt="..." /></div>
          <p class="card-text">It contains my contact information if you want to contact me.</p>
        </div>
        <div class="card-footer align-self-center"><a class="btn btn-primary btn-sm" href="/contact">More Info</a></div>
      </div>
    </div>
  </div>
</div>

{% endblock  %}