{% extends "base.html" %}
<div>
    {% block content %}
      <!-- Product section-->
      
      <section class="py-5">{% for x in  project %}>
        <div class="container px-4 px-lg-5 my-5">
            
            <div class="row gx-4 gx-lg-5 align-items-center">
                
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{x.photo.url}}" alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{x.title}}</h1>
                    <div class="fs-5 mb-5">
                    </div>
                    <p class="lead">{{x.description}}</p>
                    <div class="d-flex">
                    </div>
                </div>
            </div>
        </div>{% endfor %} 
    </section> 
    {% endblock content %}
</div>